@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

body,
html {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Roboto', sans-serif;
}

.font-h2-strong {
    color: #141414;
    font-weight: 400;
    font-size: 24px;
    line-height: 31.68px;
}

.font-text-large-1 {
    color: #8f8f8f;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 32px;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    height: 400px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}

.btn {
    background-color: green;
    padding: 10px 16px 10px 16px;
    border: none;
    border-radius: 4px;
    line-height: 20px;
    font-weight: 500;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    width: 296px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} 

btn:hover {
    background-color: rgba(0, 128, 0, 0.685);
    transition: .4s all ease-in-out;
} 

.close {
    padding: 10px 16px 10px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    color: #ffffff;
    width: 55px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
}

.loader {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation .8s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

.key-circle {
    background-color: transparent;
    border: 2px dashed #ccc;
    border-radius: 50%;
    padding: 20px;
}

.svg-key {
    width: 62px;
} 

.svg-k {
    width: 28px;
} 

dialog {
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    width: 30%;
    animation: fade-in 600ms forwards;
} 

.dialog-loggin {
    position: relative;
} 

.dialog-loggin button {
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}  

.dialog-loggin button:hover {
    background-color: red;
    transition: all ;
}

.dialog-loggin p {
    text-align: center;
    font-size: 22px;
}

span {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
}
dialog::backdrop {
    background-color: rgb(0 0 0 /.5);
} 

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#pin-input {
    display: flex;
    column-gap: 8px;
}

#pin-input input {
    text-align: center;
    padding: 10px 8px 10px 8px;
    border: 1px solid #adadad;
    border-radius: 4px;
    outline: none;
    height: 64px;
    width: 50px;
}

#pin-input input:focus {
    border: 1px solid #497e76;
}

#pin-input input:focus::placeholder {
    color: transparent;
}

#pin-input input::-webkit-outer-spin-button,
#pin-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#pin-input input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
